<!-- This reusable component can be used via ng-content in different components. It takes number of tags which can be customized: .title, .action, .alt-action-description, .alt-action-->

<form class="w-25 mx-auto text-center" [formGroup]="form">
  <i class="bi bi-person-circle display-1"></i>

  <h1 class="h3 mb-3 fw-normal">
    <ng-content select=".title"></ng-content>
  </h1>

  <div class="form-floating">
    <input
      type="email"
      class="form-control my-3"
      id="floatingInput"
      placeholder="name@example.com"
      [formControlName]="'email'"
    />
    <label for="floatingInput">Email address</label>
  </div>

  <div class="form-floating">
    <input
      type="password"
      class="form-control my-3"
      id="floatingPassword"
      placeholder="Password"
      [formControlName]="'password'"
    />
    <label for="floatingPassword">Password</label>
  </div>

  <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="submit()">
    <ng-content select=".action"></ng-content>
  </button>
  <p class="my-5 text-muted">
    <ng-content select=".alt-action-description"></ng-content>
    <a routerLink="/auth/sign-in">
      <ng-content select=".alt-action"></ng-content>
    </a>
  </p>
</form>
