<div class="card" style="width: 18rem">
  <img src="../../../../assets/img/flower.jpg" class="card-img-top" />
  <div class="card-body">
    <h5 class="card-title">
      {{ product.name }}
    </h5>
    <p class="card-text">
      {{ product.description }}
    </p>

    <p class="card-text">
      {{ product.available ? 'in stock' : 'out of stock' }}
    </p>
    <button class="btn btn-primary" (click)="emitProductToBasket(product)">
      <i class="bi bi-cart"></i> buy
    </button>

    <span class="ms-2">
      {{ product.price | currency }}
    </span>
  </div>
</div>
