<div class="container text-center my-5" *ngIf="!basket || basket.length == 0">
  <i class="bi bi-basket display-1"></i>
  <h1 class="mt-5">Your basket is empty...</h1>
  <p>
    Browse our <a routerLink="/florist/offer">offer</a> to buy something new
  </p>
</div>

<div class="container" *ngIf="basket && basket.length > 0">
  <h1>Your basket</h1>
  <button class="btn btn-lg btn-primary" (click)="clearBasket()">
    Clear basket
  </button>
  <table class="table my-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">price</th>
        <th scope="col">available</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basket">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.price | currency }}</td>
        <td>{{ item.available ? 'yes' : 'no' }}</td>
        <td>
          <button
            class="btn btn-primary"
            type="button"
            (click)="removeFromBasket(item)"
          >
            <i class="bi bi-trash"></i>
            Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <hr />

  <div class="d-flex justify-content-between">
    <h2>Total: {{ this.total | currency }}</h2>
    <button class="btn btn-primary">
      <i class="bi bi-bag"></i>
      Go to checkout
    </button>
  </div>
</div>
