<div class="container fixed-bottom">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center border-top bg-white"
  >
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 Adam Marianowski</p>
    <a
      routerLink="/"
      class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
    >
      <i class="bi bi-flower1 me-1"></i>
      NgFlorist
    </a>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <a routerLink="/" class="nav-link px-2 text-muted">Our offer</a>
      </li>
      <li class="nav-item">
        <a routerLink="/auth/sign-in" class="nav-link px-2 text-muted"
          >Sign in</a
        >
      </li>
    </ul>
  </footer>
</div>
